{% extends "base_template.html" %}
{% block htmlTitle %}Pending Transcoding Jobs{% endblock %}
{% block title %}Pending Transcoding Jobs{% endblock %}

{% block body %}
<TABLE class="report">
  <TR>
    <TH colspan=2 class='right'>Date Recorded</TH>
    <TH>Show</TH>
    <TH>Episode</TH>
    <TH>ID</TH>
    <TH class='right'>Duration</TH>
  </TR>
{% for recording in recordings %}
  <TR>
    <TD class='flush_right'>{{recording.dateRecorded.strftime('%a, %b %d, %Y %I:%M')}}</TD>
    <TD class='flush_left'>{{recording.dateRecorded.strftime('%p')}}</TD>
    <TD class="left">{{recording.show}}</TD>
    <TD class="left">E{{recording.episodeNumber}}: {{recording.episode}}</TD>
    <TD>{{recording.recordingID}}</TD>
    <TD class="right">{{recording.duration}}</TD>
  </TR>
{% endfor %}
</TABLE>
{% endblock %}

